body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #068FFF;
  color: white;
}

.formContainer {
  width: 100%;
}

h2 {
  font-size: 2rem;
}

.h2 {
  padding-left: 3em;
}

label {
  font-size: 1.35rem;

}

select {
  width: 2000px;
  color: white;
}

select.input {
  color: white;
  min-width: 376px !important;
}

option {
  background: rgb(177, 172, 172);
}

.mainContainer {
  display: flex;
  flex-direction: row;
}

.container {
  position: relative;
  /* transform: translate(-50%, -50%);
  top: 50%;
  left: 75%; */

  flex-direction: column;
}

form {
  background: white;
  padding: 1em;
  height: 700px;
  border-radius: 20px;
  border-left: 1px solid white;
  border-top: 1px solid white;
  /* backdrop-filter: blur(10px); */
  box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.2);
  text-align: center;
  position: relative;
  transition: all 0.2s ease-in-out;
  background-color: #068FFF;
  color: white;
}

.input {

  background: #068FFF;
  width: 340px;
  padding: 1em;
  margin-bottom: 2em;
  border: none;
  border-left: 1px solid white;
  border-top: 1px solid white;
  border-radius: 20px;
  backdrop-filter: blur(5px);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
  color: white !important;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  /* transition: all 0.2s ease-in-out; */
  /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); */
  font-size: 19px;
}

.btn {
  background: var(--clr-primary-5);
  /* display: inline-block; */
  padding: 0.25rem 1.5rem;
  /* border-radius: var(--radius); */
  text-transform: capitalize;
  color: var(--clr-white);
  letter-spacing: var(--spacing);
  border-color: transparent;
  cursor: pointer;
  font-size: 1.2rem;
  border-left: 1px solid white;
  border-top: 1px solid white;
  border-radius: 10px;
  backdrop-filter: blur(5px);
  box-shadow: 4px 4px 5px rgba(54, 6, 6, 0.2);


}

img {
  width: 85px;
  height: 85px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: var(--light-shadow);
}

.rating {
  display: flex;
  flex-direction: row;

  column-gap: 0.75rem;
  margin-bottom: 1.5rem;
  align-items: center;
}

.abc {

  display: flex;
  flex-direction: row;
  column-gap: 0.75rem;
  margin-bottom: 1.5rem;
  padding-left: 50px;


}

.ratex {
  font-size: 25px;
}

.subdiv {
  margin-bottom: -12px;
}

.review {
  margin-left: 40px;
  padding-bottom: 50px;
  width: 50%;
}

h4 {
  font-size: 20px;
  margin-top: 14px;
}

.data {
  padding-left: 10px;
  min-width: 100%;
}

h4::first-letter {
  text-transform: uppercase;
}

.date {
  position: static;
  float: right;
  padding-left: 20px;
  margin-top: -10px;
}

.main {
  position: relative;
  top: 10%
}

textarea {
  color: white !important;
}