body{
    background-color: white;
}
*{
    font-family: 'Poppins';
}

.container{
    width: 100%;
    height: 100%;
    background-color: aliceblue;
    color:black;
    display: flex;
   
}

.product{
    width: 70vw;
    /* background-color: rgb(2, 62, 0); */
    height: 100%;
    /* border: 2px solid rgb(0, 0, 0); */
    margin-left: 1rem;
}

.product-image-about{
    display: flex;
    margin: 2rem 0 0 2rem;
    width: 100%;

}


.product-image{
    
    display: flex;
    height: 30rem;
    width: fit-content;
    border-radius: 1rem;
    background-color: rgb(6, 9, 9);
    overflow: hidden;
    filter: drop-shadow(0 0 0.4rem black);
}

.about-product {
    margin: 5rem 0 0 2.5rem;
    color: aliceblue;
}

.about-product p{
    color: black;
    display: flex;
    gap: 0.2rem;
    align-items: center;
}

.about-product h2{
    font-size: 2.5rem;
    color: black
}

.price{
    font-size: 1.5rem;
    color:black;
}

.about-product :nth-child(4){
   color: balck;
   font-size: 1.7rem;
   /* letter-spacing: 0.1rem; */
   margin-top: 2rem;
} 

.fabric-type{
    list-style: none;
    display: flex;
    gap: 1rem;
}

.fabric-type li{
    margin-top: 0.7rem;
    color: rgb(0, 85, 160);
    border: 0.1rem solid grey;
    padding: 0.2rem 0.4rem;
    border-radius: 0.3rem;
}



.buttons{
    margin-top: 2rem;
    gap: 2rem;
    display: flex;
}

.Add-To-Cart{
    height: 2.6rem;
    width: 10rem;
    padding: 0.2rem 0.2rem;
    background-color: black;
    border: none;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
}



.quantity{
    height: 2.6rem;
    width: 3rem;
    color: black;
    border: 0.1rem solid grey;
    font-size: 2rem;
    background-color: aliceblue;
}

.section-size-color{
    display: flex;
    /* background-color: aqua; */
}

.size-colors{
    margin: 2rem;
    border: 0.1rem solid rgba(128, 128, 128, 0.342);
    padding: 1rem;
    width: fit-content;
    border-radius: 1rem;
}

.size-colors p{
    font-size: 1.3rem;
    margin-left: 0.4rem;
    font-weight: 600;
}

.sizes-color-type{
    display: flex;
    list-style: none;
    gap: 1rem;
    margin-top: 0.7rem;
}

.sizes-color-type button{
    display: flex;
    border: none;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    width: 2.8rem;
    height: 2.8rem;
    font-size: 1.2rem;
    font-weight: bold;
    background-color: aliceblue;
    color: black;
}

.sizes-color-type button:hover{
    filter: drop-shadow(0 0 0.2rem black);
    border: 0.1rem solid rgb(0, 83, 135);
}



.size-colors h2{
    text-decoration: underline;
    margin-bottom: 1rem;
}

/* Similar Products */


.similar-products{
    width: 30vw;
   /* background-color: bisque; */
   border-left: 0.2rem solid grey;
    padding: 1rem 1rem 1rem 1rem;
}